h2 {
    text-align: center;
    color: darkgreen;
    background-color: darksalmon;
}
ul {
}
li {
    background-color: forestgreen;
    color: coral;
    text-decoration: chocolate;
    text-align: left;
    color: hotpink;
}