<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="">Old Pw: </label>
    <input type="text" formControlName="oldPw">
    <div class="alert alert-danger" *ngIf = "oldPw.touched && oldPw.invalid">
      <div *ngIf="oldPw.errors.required"> Old Pw is required</div>
      <div *ngIf="oldPw.errors.oldPwMismatching"> Old Pw is misMatching</div>

    </div>
    <div *ngIf="oldPw.pending">Loading...</div>

    
  </div>
  <div class="form-group">
    <label for="">New Pw</label>
    <input type="text" formControlName="newPw">
    <div class="alert alert-danger" *ngIf = "newPw.touched && newPw.invalid">New Pw is required</div>

  </div>
  <div class="form-group">
    <label for="">Confirm new Pw</label>
    <input type="text" formControlName="newPwConfirm">
    <div class="alert alert-danger" *ngIf = "newPwConfirm.touched && newPwConfirm.invalid">New Pw Confirm is required</div>
    <div *ngIf="newPwConfirm.valid && form.invalid">
      {{form.errors | json}}
        newPwMismatching 
    </div>
  </div>
 
  <button class="btn btn-primary">Submit</button>
</form>
